<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroui-packages" value="../../ZeroPlatform/ZeroUI/dist/packages" />
    <add key="zeroui-deps" value="../../ZeroPlatform/ZeroUI/packages" />
    <add key="zeroprimitives-packages" value="../../ZeroPlatform/ZeroPrimitives/dist/packages" />
    <add key="zeroinference-packages" value="../../ZeroPlatform/ZeroInference/dist/packages" />
    <add key="zerotensor-packages" value="../../ZeroPlatform/ZeroTensor/dist/packages" />
    <add key="zeroreports-packages" value="../../ZeroPlatform/ZeroReports/nupkgs" />
  </packageSources>
</configuration>
